@{
    ViewBag.Title = "Nova senha definida";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua nova senha foi definida. Volte ao aplicativo para logar com a nova senha.
    </p>
</div>
